<app-navbar></app-navbar>
<div class="container" style="height: 64px;"></div>

<h1>Test function</h1>
<button (click)="sendMessage()"></button>

<!--Main Layout-->
<main class="py-5">



  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center ">

        <p align="justify" class="font-weight-bold">FreeChat</p>
        <p align="justify" class="text-sm-left">这是一个锻炼表演和演讲的舞台，请通过房间号来加入聊天小组
          <mdb-icon icon="smile-o"></mdb-icon>
        </p>

      </div>

    </div>
    <div class="row">
      <ul class="list-unstyled">
        <li class="media">
          <img class="d-flex mr-3" src="https://placehold.it/64x64" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
            felis in faucibus.
          </div>
        </li>
        <li class="media my-4">
          <img class="d-flex mr-3" src="https://placehold.it/64x64" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
            felis in faucibus.
          </div>
        </li>
        <li class="media">
          <img class="d-flex mr-3" src="https://placehold.it/64x64" alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
            felis in faucibus.
          </div>
        </li>
      </ul>
    </div>
  </div>



</main>
<!--Main Layout-->