<app-navbar></app-navbar>

  <!-- Main -->
<div class="view">
  <div class="full-bg-img">
      <div class="mask rgba-black-light flex-center">
          <div class="container text-center white-text">
              <div class="white-text text-center wow fadeInUp">
                  <h2 class="amber-text animated pulse infinite font-weight-bold">Dear Guest</h2>
                  <br>
                  <h5 class="orange-text font-weight-normal">Thanks for visiting me! Enjoy your stay.</h5>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /.Main -->